@import "../../../shared/css/variables";

::ng-deep .difficulty-dialog-class {
  mat-dialog-container {
    padding-top: 12px;
    border-radius: 24px;
    background-color: $color-orange-light;
    box-shadow: inset 0px -5px 10px rgb(224 164 0 / 30%), inset 0px 5px 10px rgb(255 241 203 / 80%),
    inset 3px 0 7px rgb(224 164 0 / 30%), inset -3px 0 7px rgb(224 164 0 / 30%);
  }
}

.difficulty-title {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}

.difficulty-btn {
  border: none;
  border-radius: 8px;
  min-width: 52px;
  background-color: $color-violet-btn;
  box-shadow: inset 2px 2px 2px 0px rgba(250, 243, 255, 0.505);
  color: $color-white;
}

.difficulty-btn:not(:last-child) {
  margin-right: 8px;
}