<div class="statistics-container">
  <div class="today-statistics">
    <h1>Today Statistic</h1>
    <div class="today-statistics-general">
      <div class="words-learned">
        <span>0</span>
        <span>words learned</span>
      </div>
      <div class="right-percent">
        <span>0%</span>
        <span>right answers</span>
      </div>
    </div>
    <div class="game-card-container">
      <div class="game-card">
        <h3>GameName</h3>
        <span>Words learned: 0</span>
        <span>Right answers: 0%</span>
        <span>Best series of right answers: 0</span>
      </div>
      <div class="game-card">
        <h3>GameName</h3>
        <span>Words learned: 0</span>
        <span>Right answers: 0%</span>
        <span>Best series of right answers: 0</span>
      </div>
    </div>
  </div>
  <div class="all-time-statistics">
    <h1>All-time Statistic</h1>
  </div>
</div>
