<div class="main">
  <section class="welcom-section welcom">
    <div class="welcom__text-container">
      <h2 class="welcom__title">
        Эффективно изучай английский язык вместе с нами!
      </h2>
      <p class="welcom__text">
        Всего 15 минут в день и спустя несколько недель вы будете знать все важные слова.
      </p>
      <p class="welcom__text">
        Изучение английского языка еще никогда не было таким легким!
      </p>
      <button class="btn welcom-btn" routerLink="/textbook">Начать обучение!</button>
    </div>
    <div class="welcom__image-container"></div>
  </section>
  <section class="advantage-section">
    <div class="advantage-section__items">
      <div class="advantage-item">
        <h4 class="advantage-item__title">3600 слов</h4>
        <p class="advantage-item__text">Набор самых распространенных слов, отсортированных по уровню сложности.</p>
      </div>
      <div class="advantage-item">
        <h4 class="advantage-item__title">2 игры</h4>
        <p class="advantage-item__text">В игровой форме изучение новых слов проходит намного эффективнее.</p>
      </div>
      <div class="advantage-item">
        <h4 class="advantage-item__title">Статистика</h4>
        <p class="advantage-item__text">Подробная статистика изученных слов и игровых достижений.</p>
      </div>
    </div>
  </section>
  <section class="games-section games">
    <div class="games__game-preview">

    </div>
    <div class="games__game-preview">

    </div>
  </section>
  <section class="about-us-section">
    <div class="about-us-section__items">
      <div class="about-us-item">
        <span class="about-us-item__avatar"></span>
        <h4 class="about-us-item__title">Andrei Smolich</h4>
        <p class="about-us-item__text">Подготовил страницу учебника, а также разработал общий дизайн приложения.</p>
      </div>
      <div class="about-us-item">
        <span class="about-us-item__avatar"></span>
        <h4 class="about-us-item__title">Andrei Smolich</h4>
        <p class="about-us-item__text">Подготовил страницу учебника, а также разработал общий дизайн приложения.</p>
      </div>
      <div class="about-us-item">
        <span class="about-us-item__avatar"></span>
        <h4 class="about-us-item__title">Andrei Smolich</h4>
        <p class="about-us-item__text">Подготовил страницу учебника, а также разработал общий дизайн приложения.</p>
      </div>
    </div>
  </section>
</div>
