<div class="main">
  <section class="welcom-section welcom">
    <div class="welcom__text-container">
      <h2 class="welcom__title">Эффективно изучай английский язык вместе с нами!</h2>
      <p class="welcom__text">Всего 15 минут в день и спустя несколько недель вы будете знать все важные слова.</p>
      <p class="welcom__text">Изучение английского языка еще никогда не было таким легким!</p>
      <button class="btn welcom-btn" routerLink="/textbook">Начать обучение!</button>
    </div>
    <div class="welcom__image-container"></div>
  </section>
  <section class="advantage-section">
    <div class="advantage-section__items">
      <div class="advantage-item">
        <h4 class="advantage-item__title">3600 слов</h4>
        <p class="advantage-item__text">Набор самых распространенных слов, отсортированных по уровню сложности. Выбирай подходящую сложность - от A1 до C2!</p>
      </div>
      <div class="advantage-item">
        <h4 class="advantage-item__title">2 игры</h4>
        <p class="advantage-item__text">В игровой форме изучение новых слов проходит намного эффективнее. Попробуй запомнить все слова с играми Спринт и Аудиовызов!</p>
      </div>
      <div class="advantage-item">
        <h4 class="advantage-item__title">Статистика</h4>
        <p class="advantage-item__text">Подробная статистика изученных слов и игровых достижений. Следи за динамикой обучения по дням и за все время!</p>
      </div>
    </div>
  </section>
  <section class="games-section games">
    <div class="games__game-preview">
      <a routerLink="/games/sprint" class="preview-link"
        ><img src="../../../assets/img/preview-sprint.png" alt="Sprint game preview" class="sprint-preview"
      /></a>
    </div>
    <div class="games__game-preview">
      <a routerLink="/games/audio-call" class="preview-link"
        ><img src="../../../assets/img/preview-audio-call.png" alt="Audio call game preview" class="audio-call-preview"
      /></a>
    </div>
  </section>
  <section class="about-us-section">
    <div class="about-us-section__items">
      <div class="about-us-item">
        <span class="about-us-item__avatar avatar-one"></span>
        <h4 class="about-us-item__title">Andrei Smolich</h4>
        <span class="about-us-item__team-lead">Team Lead</span>
        <a href="https://github.com/andre-sm" class="about-us-item__link">andre-sm</a>
        <p class="about-us-item__text">Подготовил главную страницу, учебник, дополнительный функционал игр, а также разработал дизайн приложения.</p>
      </div>
      <div class="about-us-item">
        <span class="about-us-item__avatar avatar-two"></span>
        <h4 class="about-us-item__title">Maksat Batyrov</h4>
        <a href="https://github.com/maxthegrandmagus" class="about-us-item__link">MaxTheGrandMagus</a>
        <p class="about-us-item__text">Реализовал регистрацию и авторизацию пользователя, страницу статистики вместе с обработкой необходимых данных</p>
      </div>
      <div class="about-us-item">
        <span class="about-us-item__avatar avatar-three"></span>
        <h4 class="about-us-item__title">Mikhail Darozhka</h4>
        <a href="https://github.com/dominickmikka" class="about-us-item__link">DominickMikka</a>
        <p class="about-us-item__text">Подготовил основной функционал и логику игр "Спринт" и "Аудиовызов"</p>
      </div>
    </div>
  </section>
</div>
