$color-violet: #6f4aaf;
$color-violet-light: #9b59b6;
$color-violet-lighter: #cfc0fb;
$color-violet-darker: #804399;
$color-violet-dark: #65247f;
$color-violet-btn: #b2a3dc;
$color-violet-btn-hover: #a192ca;
$color-pink: #edb0f3;
$color-pink-bright: #e988f1;
$color-pink-light: #ffebfa;
$color-pink-darker: #e097e6;
$color-orange-light: #f9dba7;
$color-yellow: #ffd740;
$color-yellow-bright: #ffe200;
$color-yellow-light: #fffee4;
$color-yellow-dark: #f5cd3d;
$color-brown-light: #d8b17e;
$color-blue: #8cb4ff;
$color-blue-light: #9ebfff; 
$color-green: #54ed63;
$color-green-light: #e2ffe5;
$color-green-bright: #8bf188;
$color-red: #ff1749;
$color-grey: #e0e0e0;
$color-grey-darker: #b2b2b2;
$color-grey-light: #f3f7f5;
$color-white: #ffffff;
$color-black: #000000;
$color-black-light: #343f52;
$color-red: #F44336;
$color-red-dark: #D32F2F;
$color-red-darker: #C62828;
