$color-violet: #673ab7;
$color-violet-light: #9b59b6;
$color-violet-lighter: #cfc0fb;
$color-violet-darker: #804399;
$color-violet-dark: #65247f;
$color-grey-light: #f3f7f5;
$color-white: #ffffff;
$color-black: #000000;
$color-black-light: #343f52;