@import "../../shared/css/variables";

.textbook {
  background-color: #f6f5f7;
  padding: 20px;
  border-radius: 20px;

  &__buttons-container {
    display: flex;
    align-items: center;
    gap: 20px;
    min-height: 95px;
    margin: 10px 0 30px 0;
  }

  @media screen and (max-width: 1160px) {
    &__buttons-container {
      flex-direction: column;
      margin: 10px 0 20px 0;
      min-height: 116px;
    }
  }

  @media screen and (max-width: 768px) {
    &__buttons-container {
      padding: 0 10px;
    }
  }
}

.textbook.learned-page {
  background-color: $color-yellow-light;
}

@media screen and (max-width: 768px) {
  .textbook {
    padding: 20px 0;
  }
}

.word-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
  margin-bottom: 20px;
}

.badge-container {
  margin-right: 20px;
}

.mat-slide-toggle {
  font-size: 16px;
  font-weight: 300;
}

.buttons-wrapper-left {
  display: flex;
  align-items: center;
  gap: 20px;
 }

@media screen and (max-width: 768px) {
  .buttons-wrapper-left {
    flex-direction: column;
  }
}

.buttons-wrapper-right {
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.games-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex: 0.7;
}

.games-buttons.disabled button { 
  background-color: $color-grey;
  cursor: default;
  pointer-events: none;
  color: $color-grey-darker;
}

@media screen and (max-width: 1160px) {
  .buttons-wrapper-right {
    margin-left: 0;
    gap: 20px;
  }

  .games-buttons {
    flex-direction: row;
    gap: 20px;
  }
}

.mat-badge {
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  margin-top: 15px;
}

.btn {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  box-shadow: inset 2px 2px 2px 0px rgb(255 255 255 / 50%);
  outline: none;
  position: relative;
  display: inline-block;
  transition: all .3s ease;
  cursor: pointer;
}

.btn:active {
  top: 2px;
}

.sprint-btn {
  background-color: $color-violet-btn;
}

.sprint-btn:hover { 
  background-color: $color-violet-btn-hover;
}

.audio-call-btn {
  background-color: $color-pink;
}

.audio-call-btn:hover { 
  background-color: $color-pink-darker;
}

.sprint-btn,
.audio-call-btn {
  min-width: 150px;
}

.sprint-btn:hover .sprint-btn-text,
.audio-call-btn:hover .audio-call-btn-text {
  display: none;
}

.sprint-btn:hover:before,
.audio-call-btn:hover:before {
  content: "Играть!";
}