<div class="word-card-container">
  <mat-card
    class="word-card"
    [ngClass]="{
      'hard-word': word?.userWord?.difficulty === 'hard' && !isHardWordsChecked,
      'learned-word': word?.userWord?.difficulty === 'easy'
    }"
  >
    <div class="word-card__image">
      <img mat-card-image [src]="getImagePath()" alt="{{ word?.word }}" />
    </div>
    <div class="word-card__title">
      <div class="title-container">
        <span class="title-word">{{ word?.word }}</span>
        <span class="title-transcription">{{ word?.transcription }}</span>
      </div>
      <button
        class="word-card__sound-icon"
        mat-icon-button
        color="primary"
        aria-label="Sound icon"
        (click)="onSoundIconClick(word)"
      >
        <mat-icon aria-hidden="false" aria-label="Volume icon" fontIcon="volume_up"></mat-icon>
      </button>
      <span class="word-card__translation">{{ word?.wordTranslate }}</span>
    </div>
    <div class="word-card__buttons" *ngIf="isLogged">
      <button
        class="hard-word-btn btn"
        *ngIf="isHardWordsChecked; else deleteHardWord"
        mat-stroked-button
        color="warn"
        (click)="onHardWordDeleteClick(word)"
      >
        Удалить
      </button>
      <ng-template #deleteHardWord>
        <button
          class="hard-word-btn btn"
          [disabled]="word?.userWord?.difficulty === 'hard'"
          [innerText]="word?.userWord?.difficulty === 'hard' ? 'Сложное' : 'В сложные!'"
          mat-stroked-button
          color="accent"
          (click)="onHardWordBtnAddClick(word)"
        ></button>
      </ng-template>
      <button
      *ngIf="word?.userWord?.difficulty === 'easy'; else deleteLearnedWord"
        class="learned-btn btn"
        mat-stroked-button
        color="accent"
        (click)="onLearnedWordDeleteClick(word)"
      >Забыл</button>
      <ng-template #deleteLearnedWord>
        <button
          class="learned-btn btn"
          (click)="onLearnedWordAddClick(word)"
        >Знаю!</button>
      </ng-template>
    </div>
    <mat-card-content>
      <mat-card-subtitle class="word-card__meaning-title">Значение</mat-card-subtitle>
      <p class="word-card__meaning" [innerHtml]="word?.textMeaning"></p>
      <p class="word-card__meaning-translate">
        {{ word?.textMeaningTranslate }}
      </p>
      <mat-card-subtitle class="word-card__example-title">Пример</mat-card-subtitle>
      <p class="word-card__example" [innerHtml]="word?.textExample"></p>
      <p>
        {{ word?.textExampleTranslate }}
      </p>
      <div class="word-card__stats stats-table" *ngIf="isLogged">
        <h4 class="stats-table__title">Статистика в играх</h4>
        <ul class="stats-table__content">
          <li class="stats-table__header">
            <span class="col col-1">Правильно</span>
            <span class="col col-2">Неправильно</span>
            <span class="col col-3">Всего</span>
          </li>
          <li class="stats-table__row">
            <span class="col col-1">{{ word?.userWord?.optional?.success ?? 0 }}</span>
            <span class="col col-2">{{ getWrongAnswers() }}</span>
            <span class="col col-3">{{ word?.userWord?.optional?.total ?? 0 }}</span>
          </li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>
