<div *ngIf="!isLoaded" class="progress-spinner-container">
  <mat-progress-spinner
    class="example-margin"
    color="#9b59b6"
    mode="indeterminate">
  </mat-progress-spinner>
</div>
<div *ngIf="isLoaded" class="profile-container">
  <h1 class="title">Редактировать профиль</h1>
  <form
    class="form"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <div class="form-group">
      <label for="email">Новый email*</label>
      <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="form.email"
        required
        email
        #email="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
        placeholder="Email адрес"
      />
      <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
        <div *ngIf="email.errors['required']">Обязательное поле</div>
        <div *ngIf="email.errors['email']">Пожалуйста, введите корректный email-адрес</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Новый пароль*</label>
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="form.password"
        required
        minlength="8"
        #password="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        placeholder="Новый пароль"
      />
      <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
        <div *ngIf="password.errors['required']">Обязательное поле</div>
        <div *ngIf="password.errors['minlength']">Длина пароля должна быть не менее 8 символов</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Подтвердите пароль*</label>
      <input
        type="password"
        class="form-control"
        name="confirm-password"
        [(ngModel)]="form.confirmPassword"
        required
        minlength="8"
        #confirmPassword="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.errors }"
        placeholder="Подтвердите пароль"
      />
      <div *ngIf="confirmPassword.errors && f.submitted" class="invalid-feedback">
        <div *ngIf="confirmPassword.errors['required']">Обязательное поле</div>
        <div *ngIf="confirmPassword.errors['minlength']">Длина пароля должна быть не менее 8 символов</div>
      </div>
    </div>
    <div class="passwords-not-match" *ngIf="f.submitted && form.confirmPassword !== form.password">Пароли не совпадают</div>
    <div class="btn-group">
      <a routerLink="/profile" class="form-btn backwards">Отмена</a>
      <button class="form-btn">Обновить</button>
    </div>
  </form>
</div>
