@import "../../shared/css/variables";

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  .title {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    h2 {
      color: $color-black;
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      margin: 2rem 0 1rem;
      b {
        font-family: "Raleway", sans-serif;
        color: $color-violet-dark;
        font-size: 2rem;
        font-weight: 700;
      }
    }
    span {
      color: $color-violet-light;
      font-size: 1.25rem;
      font-weight: bold;
      text-align: center;
    }
  }
  .form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .form-group {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      label {
        color: rgb(100, 100, 100);
      }
      .form-control {
        padding: 10px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
        border: 1px solid #D5DAE1;
        border-radius: 8px;
      }
      .form-btn {
        background: $color-violet-btn;
        padding: 10px 0;
        border: 2px solid $color-violet-btn;
        border-radius: 6px;
        box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
        color: #F0FDF4;
        transition: .2s ease-in-out;
        font-size: 1.25em;
        &:hover {
          cursor: pointer;
          border-color: $color-violet-btn-hover;
          background: $color-violet-btn-hover;
        }
        &:active {
          color: #000;
          border-color: $color-violet-btn;
          background: transparent;
        }
      }
      .invalid-feedback {
        color: red;
      }
    }
  }
  .bottom {
    display: flex;
    flex-direction: row;
    a {
      color: $color-violet-light;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
