@import "../../../shared/css/variables";

.stats-table {
  &__title {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
  }

  &__header,
  &__row {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__header {
    border-bottom: 1px solid $color-grey;
  }

  &__row:not(:last-child)  {
    border-bottom: 1px solid $color-grey;
  }

  &__content {
    margin: 0;
    padding: 0;
    border: 2px solid $color-violet-light;
    border-radius: 8px;
  }

  &__right-icon {
    color: $color-green;
  }

  &__wrong-icon {
    color: $color-red;
  }
}

.col-1,
.col-4 {
  flex-basis: 15%;
}

.col-2,
.col-3 {
  flex-basis: 35%;
}