@import '../../../shared/css/variables';

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 25px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-blue-light;
  background-image: url('../../../../assets/img/lines2.png');
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 740px;
  width: 100%;
  border-radius: 40px;
  box-shadow: inset 0px -7px 10px rgba(83, 143, 255, 0.5), inset 0px 7px 10px rgba(212, 227, 255, 1),
    inset 5px 0 10px rgba(83, 143, 255, 0.3), inset -5px 0 10px rgba(83, 143, 255, 0.3);

  &__time-board {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 20px 0 20px;
      width: 100%;
      margin-top: 20px;
      cursor: default;
  }
  
  &__time {
      font-size: 40px;
      letter-spacing: 1px;
      margin-left: 50px;
      font-weight: 700;
      color: $color-yellow-bright;
      text-shadow: -0.0075em 0.0075em 0 #bb532b, 0.005em 0.005em 0 #bb532b, 0.01em 0.01em 0 #bb532b,
        0.015em 0.015em #bb532b, 0.02em 0.02em 0 #bb532b, 0.025em 0.025em 0 #bb532b, 0.03em 0.03em 0 #bb532b,
        0.035em 0.035em 0 #bb532b;
  }
  
  &__score {
      min-width: 185px;
      font-size: 40px;
      letter-spacing: 1px;
      margin-right: 35px;
      font-weight: 700;
      color: $color-yellow-bright;
      text-align: left;
      text-shadow: -0.0075em 0.0075em 0 #bb532b, 0.005em 0.005em 0 #bb532b, 0.01em 0.01em 0 #bb532b,
        0.015em 0.015em #bb532b, 0.02em 0.02em 0 #bb532b, 0.025em 0.025em 0 #bb532b, 0.03em 0.03em 0 #bb532b,
        0.035em 0.035em 0 #bb532b;
  }

  &__hearts {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
  }

  &__heart {
    background-image: url(../../../../assets/img/heart.png);
    background-size: cover;
    width: 72px;
    height: 64px;
  }

    &__heart.disabled {
    background-image: url(../../../../assets/img/heart-grey.png);
  }

  &__words {
    color: $color-black-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    min-width: 740px;
    min-height: 300px;
    border-radius: 40px;
    background-color: $color-orange-light;
    box-shadow: inset 0px -5px 10px rgb(213 177 114 / 30%), inset 0px 5px 10px rgb(255 241 203 / 80%),
      inset 3px 0 7px rgb(213 177 114 / 30%), inset -3px 0 7px rgb(213 177 114 / 30%);
    margin-top: 80px;
    padding: 0 15px 15px 15px;
  }

  &__sound {
    margin-top: 30px;
  }

  &__sound-button {
    height: 100px;
    width: 100px;
  }

  &__sound-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-violet-light;
    font-size: 80px;
    height: 100px;
    width: 100px;
  }

  &__answers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  @media screen and (max-width: 1024px) {
    &__answers {
      justify-content: center;
      row-gap: 20px;
    }
  }
}

.game__words.right {
  box-shadow: 0px 0px 20px rgb(60 255 94 / 40%), inset 0px -5px 10px rgb(213 177 114 / 30%), inset 0px 5px 10px rgb(255 241 203 / 80%),
  inset 3px 0 7px rgb(213 177 114 / 30%), 3px 0 10px rgb(60 255 94 / 40%), -3px 0 10px rgb(60 255 94 / 40%), inset -3px 0 7px rgb(213 177 114 / 30%);
}

.game__words.wrong {
  box-shadow: 0px 0px 20px rgb(255 60 74 / 30%), inset 0px -5px 10px rgb(213 177 114 / 30%), inset 0px 5px 10px rgb(255 241 203 / 80%),
  inset 3px 0 7px rgb(213 177 114 / 30%), 3px 0 10px rgb(255 60 74 / 30%), -3px 0 10px rgb(255 60 74 / 30%), inset -3px 0 7px rgb(213 177 114 / 30%);
}

.btn {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 12px 24px;
  box-shadow: inset 2px 2px 2px 0px rgb(255 255 255 / 50%);
  outline: none;
  position: relative;
  display: inline-block;
  transition: all .3s ease;
  line-height: 1.2;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.btn:active {
  top: 2px;
}

.answer-btn {
  background-color: $color-pink-bright;
  min-width: 200px;
}

.answer-btn.right-answer {
  background-color: $color-green-bright;
}


.btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 1024px) {
  .btn-wrapper {
    width: 45%;
  }
}

.key {
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 500;
  color: $color-blue-light;
  text-shadow: -0.0075em 0.0075em 0 #3cbbff, 0.005em 0.005em 0 #3cbbff, 0.01em 0.01em 0 #3cbbff,
    0.015em 0.015em #3cbbff, 0.02em 0.02em 0 #3cbbff, 0.025em 0.025em 0 #3cbbff, 0.03em 0.03em 0 #3cbbff,
    0.035em 0.035em 0 #3cbbff;
}