<div class="games-previews">
  <h1 class="games-previews__title">
    Изучай новые слова в игре!
  </h1>
  <div class="games-previews__previews-wrapper">
    <div class="games-previews__preview">
      <a routerLink="/games/sprint" class="preview-link"
        ><img src="../../../assets/img/preview-sprint.png" alt="Sprint game preview" class="sprint-preview"
      /></a>
    </div>
    <div class="games-previews__preview">
      <a routerLink="/games/audio-call" class="preview-link"
        ><img src="../../../assets/img/preview-audio-call.png" alt="Audio call game preview" class="audio-call-preview"
      /></a>
    </div>
  </div>
</div>

<!-- <main>
  <h1 class="align-center">Мини игры</h1>
  <div class="minigame-buttons">
    <a mat-raised-button routerLink="/games/audio-call">Аудиовызов</a>
    <a mat-raised-button routerLink="/games/sprint">Спринт</a>
  </div>
</main> -->